<p>
  pausable-filter-with-filter-demo works!
</p>
<div>
  <button (click)="togglePause()">pause</button>
  <br>
  <button (click)="toggleEvenFilter()">even filter</button>
</div>
<div *ngIf="(timedProducer$ | async) as producer">
  Producer output: {{ producer }}
</div>
<div *ngIf="(itemLoader$ | async) as itemLoader">
  ItemLoader output: {{ itemLoader }}
</div>
<pre>paused: {{ pauser$ | async }}</pre>
<pre>evenFilter: {{ evenFilter$ | async }}</pre>
