<p>
  pausable-filter-demo works!
</p>
<div>
  <button (click)="togglePause()">pause</button>
</div>
<div *ngIf="(timedProducer$ | async) as producer">
  Producer output: {{ producer }}
</div>
<div *ngIf="(itemLoader$ | async) as itemLoader">
  ItemLoader output: {{ itemLoader }}
</div>
<pre>paused: {{ pauser$ | async }}</pre>
