<p>
  pausable-demo works!
</p>
<div>
  <button (click)="togglePause()">pause</button>
</div>
<!--<div *ngIf="(items$ | async) as items">-->
  <!--<ul>-->
    <!--<li *ngFor="let item of items">{{item}}</li>-->
  <!--</ul>-->
<!--</div>-->
<div *ngIf="(itemLoader$ | async) as itemLoader">
  {{ itemLoader }}
</div>
<pre>paused: {{ pauser$ | async }}</pre>
<!--<pre>{{ timedLoader$ | async }}</pre>-->
<!--<pre>{{ itemLoader$ | async }}</pre>-->
